._disabled {
	cursor: not-allowed;
	opacity: .5;
}

.text-small {
	font-size: .85em;
}
.text-pale {
	color: $font-color-pale;
}

.Fz\(0\) {
	font-size: 0;
}
.Mx\(a\) {
	margin-left: auto;
	margin-right: auto;
}
.Op\(\.7\) {
	opacity: .7;
}
.Pe\(n\) {
	pointer-events: none;
}
.Pos\(r\) {
	position: relative;
}
.Ta\(c\) {
	text-align: center;
}
