@font-face {
	font-family: "InterWeb";
	font-weight: 400;
	src: url("/assets/fonts/Inter-Regular-subset.woff2") format("woff2");
}
@font-face {
	font-family: "InterWeb";
	font-weight: 400;
	font-style: italic;
	src: url("/assets/fonts/Inter-Italic-subset.woff2") format("woff2");
}
@font-face {
	font-family: "InterWeb";
	font-weight: 500;
	src: url("/assets/fonts/Inter-Medium-subset.woff2") format("woff2");
}
@font-face {
	font-family: "InterWeb";
	font-weight: 600;
	src: url("/assets/fonts/Inter-SemiBold-subset.woff2") format("woff2");
}
