@font-face {
	font-family: "NotoSans";
	font-weight: 400;
	src: url("/assets/fonts/NotoSans-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSans-Regular.woff") format("woff");
}
@font-face {
	font-family: "NotoSans";
	font-weight: 400;
	font-style: italic;
	src: url("/assets/fonts/NotoSans-Italic.woff2") format("woff2"), url("/assets/fonts/NotoSans-Italic.woff") format("woff");
}
@font-face {
	font-family: "NotoSans";
	font-weight: 600;
	src: url("/assets/fonts/NotoSans-SemiBold.woff2") format("woff2"), url("/assets/fonts/NotoSans-SemiBold.woff") format("woff");
}
