.Fz\(\.875rem\) {
  font-size: .875rem;
}
.Fz\(0\) {
  font-size: 0;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Op\(\.7\) {
  opacity: .7;
}
.Pe\(n\) {
  pointer-events: none;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
