<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }} / {{ page.title }}</title>
	<meta name="description" content="{{ site.description }}">

	{% if page.url == "/" %}
	<style>
		{% capture include_to_scssify %}
		{% include main.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
		{% include css/custom.css %}
	</style>
	{% else %}
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	{% endif %}

	{% include custom-head.html %}
</head>
