<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body class="is-loading no-js" data-vbox="-medium">
	{% include header.html %}

	<main data-vbox="-large">
		{{ content }}
	</main>

	<p class="container Ta(c) Pe(n) text--pale">※</p>

	{% include custom-footer.html %}

	<script>
		"use strict";

		function isDarkMode () {
			return window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
		}

		let $body;
		let $switch;

		if (sessionStorage.getItem("dark") === "true" || isDarkMode()) {
			document.querySelector("body").classList.add("-dark");
			document.querySelector("#ThemeSwitch").checked = true;
		}

		function toggleDarkness (_) {
			$body.classList.toggle("-dark");
			sessionStorage.setItem("dark", $switch.checked);
		}

		window.addEventListener("load", function () {
			$body = document.querySelector("body");
			$switch = document.querySelector("#ThemeSwitch");
			$body.classList.remove("is-loading", "no-js");
		});
	</script>
</body>
</html>
